<template>
  <div class="admin-page admin-page-single-product">
    <div class="head">
      <h5>Редактирование {{product.name}}</h5>
      <nuxt-link to="/admin/products" class="btn btn-burnt-sienna btn-shape-circle">Вернуться назад</nuxt-link>
    </div>

    <div class="rd-mailform text-center offset-top-20">
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Название
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          v-model="product.name"                      
        />
        <div class="error" v-if="$v.product.name.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Главная картинка
        </label>
        <input 
          type="file" 
          @input="handleFileUpload" 
          accept="image/*" 
          class="form-control form-control-last-child" 
          style="margin-bottom: 10px;"
        >

        <div 
          class="img-item" style="max-width: 150px;" 
          v-if="image !== null && image !== ''"
        >
          <div class="del" @click="image = null"></div>
          <img 
            :src="imageUrl" 
            alt="Uploaded Image" 
            style="max-width: 150px;"
          >
        </div>

        <div 
          class="img-item" style="max-width: 150px;" 
          v-if="product.main_image.short_url !== null && product.main_image.short_url !== ''"
        >
          <div class="del" @click="delImg(product.main_image.id)"></div>
          <img 
            :src="imageUrl === null ? `${$config.apiUrl}${product.main_image.short_url}` : imageUrl" 
            alt="Uploaded Image" 
            style="max-width: 150px;"
          >
        </div>
        
      </div>

      <div class="form-group">
        <label
          class="form-label form-label-outside rd-input-label"
          for="product-images"
          >Добавить фото</label
        >
        <input 
          class="form-control form-control-has-validation form-control-last-child"
          id="product-images"
          type="file" 
          @input="handleFileUploadGallery" 
          accept="image/*" 
          multiple
        />

        <div 
          style="display: flex;padding-top: 15px;padding-bottom: 15px;" 
          v-if="product.gallery.length > 0"
        >
          <div v-for="imageUrl in product.gallery" :key="imageUrl.id" style="margin-right: 15px" class="img-item">
            <div class="del" @click="delImg(imageUrl.id)"></div>
            <img :src="`${$config.apiUrl}${imageUrl.short_url}`" :alt="'Image'" style="max-width: 150px;" />
          </div>
        </div>
        
        <div 
          style="display: flex;padding-top: 15px;padding-bottom: 15px;" 
          v-if="imageUrls !== null"
        >
          <div v-for="(imageUrl, index) in imageUrls" :key="index" style="margin-right: 15px">
            <img :src="imageUrl" :alt="'Image ' + (index + 1)" style="max-width: 150px;" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Категория
        </label>
        <div class="select-sec">
          <select v-model="product.category.id" class="form-control form-control-has-validation form-control-last-child">
            <option v-for="el in optionCategory" :key="el.id" :value="el.id">{{ el.name }}</option>
          </select>
        </div>
        <div class="error" v-if="$v.product.category.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Описание
        </label>
        <textarea 
          class="form-control form-control-has-validation form-control-last-child" 
          v-model="product.description"  
        />
      </div>
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Цена
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="number"
          v-model="product.price"                      
        />
        <div class="error" v-if="$v.product.price.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>
      
      <div class="offset-top-50">
        <button 
          class="btn btn-primary-lighter btn-fullwidth btn-shadow"
          @click="updateProduct"
        >
          Сохранить
        </button>
      </div>

    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { productApi } from "~/api/products"
import { imageApi } from "~/api/image"
import { categoryApi } from "~/api/category";
import { required, email } from "vuelidate/lib/validators";

export default {
  layout: "admin",
  async asyncData({ params }) {
    const product = await productApi.getById(params.id);
    const optionCategory = await categoryApi.getAll()
    return { product, optionCategory };
  },
  data() {
    return {
      product: {},
      image: null,
      imageUrl: null,

      imageUrls: null,
      images: null,
    };
  },
  validations: {
    product: {
      name: {
        required,
      },
      category: {
        required,
      },
      price: {
        required,
      },
    }
  },
  methods: {
    
    async updateProduct() {
      this.$v.$touch()
      if (!this.$v.$invalid) {

        const data = {
          id: this.product.id,
          name: this.product.name,
          category_id: this.product.category.id,
          description: this.product.description,
          price: Number(this.product.price),
          image: this.image,
          images: this.images,
        }
        try {
          await productApi.updateProduct(data)
          
          this.$notify({
            title: "Блюдо обновлено",
            type: "success",
          })
          // setTimeout(() => {
          //   window.location.href = '/admin/products'
          // }, 2000);
        } catch(err) {
          console.log(err)
          this.$notify({
            title: "Произошла ошибка, повторите позже",
            type: "error",
          })
        }
      }
      
    },
    handleFileUpload(event) {
      const file = event.target.files[0]
      if (file) {
        const reader = new FileReader()
        this.image = file
        reader.onload = () => {
          this.imageUrl = URL.createObjectURL(file)
        }
        reader.readAsDataURL(file)
      }
    },

    handleFileUploadGallery(event) {
      const files = event.target.files;
      
      if (files.length > 0) {
        this.images = Array.from(files);
        this.imageUrls = [];

        this.images.forEach(file => {
          const reader = new FileReader();
          
          reader.onload = () => {
            this.imageUrls.push(URL.createObjectURL(file));
          };
          
          reader.readAsDataURL(file);
        });
      }
    },

    async delImg(id) {
      try {
        await imageApi.delImage(id)
        this.product = await productApi.getById(this.product.id)
        
        this.$notify({
          title: "Картинка удалена",
          type: "success",
        })
      } catch(err) {
        console.log(err)
        this.$notify({
          title: "Произошла ошибка, повторите позже",
          type: "error",
        })
      }
    }
  },
  mounted() {
    
  }
};
</script>