<template>
  <div class="admin-page">
    <div class="head">
      <h5>Добавление нового блюда</h5>
      <nuxt-link to="/admin/products" class="btn btn-burnt-sienna btn-shape-circle">Вернуться назад</nuxt-link>
    </div>
    <div class="rd-mailform">
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Название
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          v-model="name"                      
        />
        <div class="error" v-if="$v.name.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Главная картинка
        </label>
        <input 
          type="file" 
          @input="handleFileUpload" 
          accept="image/*" 
          class="form-control form-control-last-child" 
          style="margin-bottom: 10px;"
        >
        <img v-if="imageUrl" :src="imageUrl" alt="Uploaded Image" style="max-width: 150px;">
      </div>

      <div class="form-group">
        <label
          class="form-label form-label-outside rd-input-label"
          for="product-images"
          >Галерея фото</label
        >
        <input 
          class="form-control form-control-has-validation form-control-last-child"
          id="product-images"
          type="file" 
          @input="handleFileUploadGallery" 
          accept="image/*" 
          multiple
        />
        <div style="display: flex;padding-top: 15px;padding-bottom: 15px;" v-show="imageUrls !== null">
          <div v-for="(imageUrl, index) in imageUrls" :key="index" style="margin-right: 15px">
            <img :src="imageUrl" :alt="'Image ' + (index + 1)" style="max-width: 150px;" />
          </div>
        </div>
        
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Категория
        </label>
        <div class="select-sec">
          <select v-model="category_id" class="form-control form-control-has-validation form-control-last-child">
            <option v-for="el in optionCategory" :key="el.id" :value="el.id">{{ el.name }}</option>
          </select>
        </div>
        <div class="error" v-if="$v.category_id.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Граммовка
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          v-model="grammer"                      
        />
      </div>
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Описание
        </label>
        <textarea 
          class="form-control form-control-has-validation form-control-last-child" 
          v-model="description"  
        />
      </div>
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Цена
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="number"
          v-model="price"                      
        />
        <div class="error" v-if="$v.price.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>
      <br>
      <button class="btn btn-burnt-sienna btn-shape-circle" @click="submot">Сохранить</button>
    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { productApi } from "~/api/products";
import { categoryApi } from "~/api/category";
import { required, email } from "vuelidate/lib/validators";

export default {
  layout: "admin",
  meta: {
    role: ["admin"],
  },
  validations: {
    name: {
      required,
    },
    category_id: {
      required,
    },
    grammer: {
      required,
    },
    price: {
      required,
    },
  },
  components: {},
  async asyncData() {
    const optionCategory = await categoryApi.getAll()
    return { optionCategory }
  },
  data() {
    return {
      name: "",
      category_id: null,
      description: "",
      price: null,
      grammer: null,
      image: null,
      imageUrl: null,

      imageUrls: null,
      images: null
    };
  },
  methods: {
    handleFileUpload(event) {
      const file = event.target.files[0]
      if (file) {
        const reader = new FileReader()
        this.image = file
        reader.onload = () => {
          this.imageUrl = URL.createObjectURL(file)
        }
        reader.readAsDataURL(file)
      }
    },

    handleFileUploadGallery(event) {
      const files = event.target.files;
      
      if (files.length > 0) {
        this.images = Array.from(files);
        this.imageUrls = [];

        this.images.forEach(file => {
          const reader = new FileReader();
          
          reader.onload = () => {
            this.imageUrls.push(URL.createObjectURL(file));
          };
          
          reader.readAsDataURL(file);
        });
      }
    },
    
    async submot() {
      this.$v.$touch()
      if (!this.$v.$invalid) {

        const data = {
          name: this.name,
          category_id: this.category_id,
          description: `<b>${this.grammer}</b>` + this.description,
          price: Number(this.price),
          image: this.image,
          images: this.images,
        }

        console.log(data)

        if (this.image !== null && this.image !== '') {
          try {
            await productApi.createProduct(data)
            this.$notify({
              title: "Блюдо создано",
              type: "success",
            })
            setTimeout(() => {
              window.location.href = '/admin/products'
            }, 2000);
          } catch(err) {
            console.log(err)
            this.$notify({
              title: "Произошла ошибка, повторите позже",
              type: "error",
            })
          }
        } else {
          this.$notify({
            title: "Добавьте картинку",
            type: "error",
          })
        }
      
      }
    }
  }
};
</script>