<template>
  <div class="admin-page admin-products">
    <div class="head">
      <h5>Меню сайта</h5>
      <nuxt-link to="/admin/products/create" class="btn btn-burnt-sienna btn-shape-circle">Добавить</nuxt-link>
    </div>
    <div class="table-responsive">
      <table class="table table-accent table-striped">
        <thead>
          <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Опции</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" :key="product.id">
            <td>
              <img
                :src="`${$config.apiUrl}${product.main_image.short_url}`"
                alt="Product photo"
                class="avatar"
              />
            </td>
            <td>
              <div class="text">{{ product.name }}</div>
            </td>
            <td>
              <div class="text truncate">{{ product.description }}</div>
            </td>
            <td>
              <div class="text">{{ product.category.name }}</div>
            </td>
            <td>
              <div class="text">{{ product.price }}</div>
            </td>
            <td>
              <div class="td-option">
                <button class="btn-null" @click="delProduct(product.id)">
                  <span class="icon icon-sm icon-primary fa fa-trash"></span>
                </button>
                <nuxt-link :to="`/admin/products/${product.id}`" style="margin-left: 15px;">
                  <span class="icon icon-sm icon-primary fa fa-pencil"></span>
                </nuxt-link>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { productApi } from "~/api/products";

export default {
  layout: "admin",
  meta: {
    role: ['admin'],
  },
  components: {},
  async asyncData() {
    const products = await productApi.getAllAll()
    return { products }
  },
  methods: {
    async delProduct(id) {
      try {
        await productApi.delProduct(id)
        this.products = this.products.filter((item) => item.id !== id)
        this.$notify({
          title: "Продукт удалена",
          type: "success",
        })
      } catch(err) {
        console.log(err)
        this.$notify({
          title: "Произошла ошибка, повторите позже",
          type: "error",
        })
      }
    }
  }
};
</script>