<template>
  <main class="page-content">

    <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
      <div class="container">
        <div class="row g-0">
          <div class="col-xs-12 col-xl-preffix-1 col-xl-11">
            <p class="h3 text-white">Меню</p>
            <ul class="breadcrumbs-custom offset-top-10">
              <li><nuxt-link to="/">Главная</nuxt-link></li>
              <li class="active">Меню</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="section-50 section-sm-top-80 section-sm-bottom-100 bg-gray-lighter my-menu" id="menu">
      <h3>Наше меню</h3>
      <div class="container">
        <div class="head">
          <CategoryLink
            v-for="category in categories"
            :key="category.id"
            :link="category.id"
            :name="category.name"
          />
        </div>
        <div class="row">
          <div
            class="col-xs-6 col-sm-6 col-md-4 isotope-item"
            v-for="product in products"
            :key="product.id"
          >
            <ProductCard :product="product" />
          </div>
        </div>
      </div>
    </section>

  </main>
</template>

<script>
import { productApi } from '~/api/products';
import { categoryApi } from '~/api/category';
import ProductCard from "~/components/product/ProductCard.vue";
import CategoryLink from "~/components/product/CategoryLink.vue";

export default {
  head: {
    title: 'Столовая "Харчо"'
  },
  components: {
    ProductCard,
    CategoryLink,
  },
  async asyncData({params}) {
    const categories = await categoryApi.getAll();
    const products = await productApi.getAllByCategory(params.id);
    return { categories, products }
  },
  head() {
    return {
      title: 'C', 
    }
  },
}
</script>