<template>
  <main class="page-auth">
    <!-- Breadcrumbs & Page title-->
    <section
      class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs"
    >
      <div class="container">
        <div class="row g-0">
          <div class="col-xs-12 col-xl-preffix-1 col-xl-11">
            <p class="h3 text-white">Авторизация</p>
            <ul class="breadcrumbs-custom offset-top-10">
              <li><nuxt-link to="/">Главная</nuxt-link></li>
              <li class="active">
                <nuxt-link to="/login">Авторизация</nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Buttons-->
    <section class="bg-white text-center section-50 section-sm-100" id="form">
      <div class="container">
        <div class="row justify-content-xs-center">
          <div class="col-sm-8 col-lg-6">
            <div
              class="responsive-tabs responsive-tabs-modern responsive-tabs-modern-mod-1 responsive-tabs-horizontal"
              style="display: block; width: 100%"
              
            >
              <ul class="resp-tabs-list">
                <nuxt-link to="/auth/login#form">Вход</nuxt-link>
                <a> | </a>
                <nuxt-link to="/auth/register#form">Регистрация</nuxt-link>
              </ul>

              <div class="resp-tabs-container">
                <div
                  class="rd-mailform form-register text-center offset-top-20"
                >
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">
                      email
                    </label>
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      id="contact-name"
                      type="text"
                      v-model="email"                      
                    />
                    <div class="error" v-if="$v.email.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">Пароль</label>
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      id="contact-email"
                      type="password"
                      v-model="password"
                    />
                    <div class="error" v-if="$v.password.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="offset-top-50">
                    <button
                      class="btn btn-primary-lighter btn-fullwidth btn-shadow"
                      @click="sumbmit"
                    >
                      Войти
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div> 
        </div>
      </div>
    </section>
    <notifications position="center bottom" class="bottom" />
  </main>
</template>

<script>
  import { authApi } from '~/api/auth';
  import { required, email } from 'vuelidate/lib/validators';

  export default {
    name: "login",
    data() {
      return {
        email: "",
        password: "",
      };
    },
  // email: "asd12345@emas.ru",
  //     password: "12345678",
    validations: {
      email: {
        required,
        email
      },
      password: {
        required,
      },
    },
    methods: {
      async sumbmit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {

          const data = {
            email: this.email,
            password: this.password
          }

          try {
            await authApi.doLogin(data)
            window.location.href = '/admin'
          } catch(err) {
            console.log(err)
            this.$notify({
              title: "email или пароль неправильные",
              type: "error",
            })
          }

        }
        
      }
    }, 
  }
</script>