<template>
  <main class="page-content">
    <!-- Breadcrumbs & Page title-->
    <section
      class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs"
    >
      <div class="container">
        <div class="row g-0">
          <div class="col-xs-12 col-xl-preffix-1 col-xl-11">
            <p class="h3 text-white">Авторизация</p>
            <ul class="breadcrumbs-custom offset-top-10">
              <li><nuxt-link to="/">Главная</nuxt-link></li>
              <li class="active">
                <nuxt-link to="/login">Авторизация</nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Buttons-->
    <section class="bg-white text-center section-50 section-sm-100" id="form">
      <div class="container">
        <div class="row justify-content-xs-center">
          <div class="col-sm-8 col-lg-6">
            <div
              class="responsive-tabs responsive-tabs-modern responsive-tabs-modern-mod-1 responsive-tabs-horizontal"
              style="display: block; width: 100%"
              
            >
              <ul class="resp-tabs-list">
                <nuxt-link to="/auth/login#form">Вход</nuxt-link>
                <a> | </a>
                <nuxt-link to="/auth/register#form">Регистрация</nuxt-link>
              </ul>

              <div class="resp-tabs-container">
                <div
                  class="rd-mailform form-register text-center offset-top-20"
                >
                  <div class="form-group">
                    <label
                      class="form-label form-label-outside rd-input-label"
                      for="register-form-name"
                      >Имя *</label
                    >
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      id="register-form-name"
                      type="text"
                      v-model="name"
                    />
                    <div class="error" v-if="$v.name.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>

                  <div class="form-group">
                    <label
                      class="form-label form-label-outside rd-input-label"
                      for="register-form-email"
                      >E-mail *</label
                    >
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      id="register-form-email"
                      type="email"
                      v-model="email"
                    />
                    <div class="error" v-if="$v.email.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="form-group">
                    <label
                      class="form-label form-label-outside rd-input-label"
                      >Ваш телефон</label
                    >
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="text"
                      v-model="phoneNumber"
                    />
                  </div>

                  <div class="form-group">
                    <label
                      class="form-label form-label-outside rd-input-label"
                      >Пароль *</label
                    >
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="password"
                      v-model="password"
                    />
                    <div class="error" v-if="$v.password.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>

                  <div class="form-group">
                    <label
                      class="form-label form-label-outside rd-input-label"
                      >Повторите пароль *</label
                    >
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="password"
                      v-model="password2"
                    />
                  </div>

                  <div class="offset-top-50">
                    <button
                      class="btn btn-primary-lighter btn-fullwidth btn-shadow"
                      @click="sumbmit"
                    >
                      Зарегистрироваться
                    </button>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <notifications position="center bottom" class="bottom" />
  </main>
</template>

<script>
  import { authApi } from '~/api/auth';
  import { required, email } from 'vuelidate/lib/validators';

  export default {
    name: "register",
    data() {
      return {
        name: 'yurec',
        email: 'yurecblinovgelarm@gmail.com',
        phoneNumber: '',
        password: 'Rootgel2000',
        password2: 'Rootgel2000',
      }
    },
    validations: {
      email: {
        required,
        email
      },
      name: {
        required,
      },
      password: {
        required,
      },
      password2: {
        required,
      },
    },
    methods: {
      async sumbmit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {

          if (this.password === this.password2) {
            const data = {
              name: this.name,
              email: this.email,
              phoneNumber: this.phoneNumber,
              password: this.password,
            }

            try {
              await authApi.doRegister(data)
              this.$notify({
                title: "Вы успрешно зарегистрировались",
                type: "success",
              })
              setTimeout(() => {
                window.location.href = '/admin'
              }, 3000)
            } catch(err) {
              if (err.response.status === 401) {
                this.$notify({
                  title: "Такой email уже заегистрирован",
                  type: "error",
                })
              } else {
                this.$notify({
                  title: "Произошла ошибка, повторите позже",
                  type: "error",
                })
              }
            }
          } else {
            this.$notify({
              title: "Пароли не совпадают",
              type: "error",
            })
          }
          

        } 
        
      }
    }, 
  }
</script>