<template>
  <div class="admin-page admin-products admin-order-single">
    <div class="head">
      <h5>Заказ - {{orderId}}</h5>
    </div>

    <h5>Имя заказчика - {{order.name}}</h5>
    <h5>Телефон заказчика - {{order.phonenumber}}</h5>
    <h5>Адрес доставки - {{order.shipping_address}}</h5>
    <h5>Комментарий заказчика - {{order.description}}</h5>
    <h5>Общая сумма заказа - {{order.total_price}} Рублей</h5>

    <div class="table-responsive">
      <table class="table table-accent table-striped">
        <thead>
          <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Количество</th>
            <th>Итоговая цена</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in order.content" :key="order.id">
            <td>
              <img
                :src="`${$config.apiUrl}${order.image}`"
                alt="Product photo"
                class="avatar"
              />
            </td>
            <td>
              <div class="text">{{ order.name }}</div>
            </td>
            <td>
              <div class="text">{{ order.category_name }}</div>
            </td>
            <td>
              <div class="text truncate">{{ order.count }}</div>
            </td>
            <td>
              <div class="text">{{ order.total_price }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { ordersApi } from "~/api/orders"

export default {
  layout: "admin",
  meta: {
    role: ['admin', 'user'],
  },
  components: {},
  async asyncData({ params }) {
    const order = await ordersApi.getById(params.id)
    const orderId = params.id
    return { order, orderId }
  },
}
</script>