<template>
  <div class="admin-page admin-products">
    <div class="head">
      <h5>Заказы</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-accent table-striped">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th>Сумма заказа</th>
            <th>Опции</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in orders" :key="order.id">
            <td>
              <div class="text">{{order.name}}</div>
            </td>
            <td>
              <div class="text">{{order.phonenumber}}</div>
            </td>
            <td>
              <div class="text">{{order.shipping_address}}</div>
            </td>
            <td>
              <div class="text">{{order.total_price}}</div>
            </td>
            <div class="td-option">
              <nuxt-link :to="`/admin/orders/${order.id}`" style="margin-left: 15px;">
                <span class="icon icon-sm icon-primary fa fa-pencil"></span>
              </nuxt-link>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { ordersApi } from "~/api/orders"

export default {
  layout: "admin",
  meta: {
    role: ['admin', 'user'],
  },
  components: {},
  async asyncData() {
    const orders = await ordersApi.getAll()
    return { orders }
  },
}
</script>