h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
h1 {
  font-size: 6.5rem;
}
.btn-null {
  border: none;
}
.select-sec {
  position: relative;
}


.accordeon .head {
  position: relative;
  padding: 20px 55px 20px 30px;
  color: #2b2c2f;
  transition: 350ms;
  border-radius: 6px;
  
}


.accordeon {
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,.12);
}

.accordeon .resp-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #f9b129;
  display: block;
  position: absolute;
  border-radius: 0 6px 0 0;
  cursor: pointer;
}
.accordeon .resp-arrow:before,
.accordeon .resp-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 2px;
  background: black;
  display: block;
}
.accordeon .resp-arrow:after {
  transform: rotate(90deg);
}

.accordeon .head {
  position: relative;
}
.accordeon .title {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-right: 60px;
}
.accordeon .content {
  border-radius: 0 0 6px 6px;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.25s;
}

.accordeon.active .head {
  border-bottom: 1px solid rgb(161, 161, 161);
}
.accordeon.active .content {
  padding: 28px 55px 22px 30px;
  border-bottom: 1px solid #f2f3f8;  
  margin-top: 0;
  overflow: visible;
  height: max-content;
}
@media (max-width: 772px) {
  .accordeon .head {
    padding: 10px 55px 10px 15px;
  }
  .accordeon .title {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    padding-right: 60px;
  }
  .accordeon.active .content {
    padding: 14px 0px 11px 15px;
  }
}

.select-sec:after,
.select-sec:before {
  content: '';
  width: 1px;
  height: 8px;
  background: black;
  display: block;
  position: absolute;
  right: 25px;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  user-select: none;
}
.select-sec:after {
  transform: rotate(45deg);
}
.select-sec:before {
  transform: rotate(-45deg);
  right: 30px;
}
.select-sec select option {
  padding: 50px;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
  width: 320px;
  padding-left: 20px;
}
.content-admin > section {
  padding-top: 60px !important;
}
@media (max-width: 1800px) {
  .content-admin > section {
    padding-left: 350px !important;
  }
}

.table-striped tbody tr .td-option {
  padding: 21px;
}
.rd-navbar-fixed .rd-navbar-nav {
  width: 100%;
}
@media (max-width: 772px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
.general-page {
  min-height: 80vh;
  background-position: center !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  position: relative;
}
/* header nav{
  z-index: 3;
}
header nav{
  background: white !important;
} */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.video-background .bcg-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}


.general-page:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
}
h1,
.general-page .subtitle {
  margin: auto;
}
.general-page h1 {
  color: white;
  position: relative;
  z-index: 1;
  max-width: 700px;
}
.general-page .subtitle {
  font-size: 18px;
  max-width: 650px;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.general-page .btn {
  position: relative;
  z-index: 1;
  margin: auto;
  display: block;
  max-width: max-content;
}
@media (max-width: 772px) {
  .general-page {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .general-page .subtitle {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.my-menu .head {
  padding-bottom: 40px;
}

.isotope-item .thumbnail-menu-modern .caption .text-italic {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
  position: relative;
  padding-bottom: 25px;
}

.isotope-item .thumbnail-menu-modern .caption .text-italic b {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}
.isotope-item .thumbnail-menu-modern {
  background: white;
  border-radius: 25px;
  padding-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 772px) {
  .isotope-item .thumbnail-menu-modern {
    margin-bottom: 15px;
  }
}
.isotope-item .thumbnail-menu-modern img {
  border-radius: 25px;
}
.isotope-item .text-italic {
  margin-top: 10px;
}

@media (max-width: 772px) {
  .isotope-item {
    margin-bottom: 15px;
  }
  .isotope-item .thumbnail-menu-modern {
    background: white;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.thumbnail-menu-modern:hover {
  box-shadow: none;
  z-index: 2;
}
.thumbnail-menu-modern .caption {
  max-height: none;
}
@media (min-width: 772px) {
  .thumbnail-menu-modern:hover figure {
    width: 310px;
  }
}
.thumbnail-menu-modern .price:before {
  display: none;
}
.thumbnail-menu-modern .btn {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.thumbnail-menu-modern {
  background-color: rgba(0,0,0,0);
}

.my-menu .container{
  margin-top: 5rem;
}
.my-menu .head .btn {
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.my-menu .btn.nuxt-link-active {
  background: #f9b129;
  border-color: #f9b129;
}

@media (min-width: 772px) {
  .thumbnail-menu-modern figure {
    height: 206px;
  }
  .thumbnail-menu-modern figure img {
    height: 100%;
    object-fit: cover;
  }
}


.page-head .brand .list-inline-sizing-1 {
  display: none !important;
}
@media (max-width: 772px) {
  .page-head .brand .list-inline-sizing-1 {
    display: inherit !important;
  }
  .thumbnail-menu-modern {
    padding-left: 0;
    padding-right: 0;
  }
  .thumbnail-menu-modern .btn {
    font-size: 12px;
    padding: 6px 6px;
  }
  .page-foot .list-unstyled .unit {
    display: flex;
    justify-content: center;
  }
  .my-menu .container{
    margin-top: 4rem;
  }
}

.content-admin * {
  font-family: 'Montserrat' !important;
}

.content-admin {
  text-align: initial;
}

.content-admin .table-accent tbody tr td .truncate {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* указывает максимальное количество строк */
  -webkit-box-orient: vertical;
  max-width: 250px;
}
.content-admin .table-accent tbody tr td .text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.content-admin .table-accent tbody tr td .avatar {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.rd-mailform {
  max-width: 650px;
  
}
.rd-mailform .form-group {
  text-align: left;
}

.resp-tabs-list {
  display: flex !important;
  justify-content: center;
}
.resp-tabs-list a {
  color: #999;
  display: flex;
  font-size: 24px;
  margin: 0 10px;
}
.resp-tabs-list a.nuxt-link-active {
  color: #fccb56;
}


.page-auth .resp-tabs-container {
  margin-top: 30px;
}
.page-auth .resp-accordion.resp-tab-active {
  display: none !important;
}
@media (max-width: 772px) {
  .responsive-tabs.responsive-tabs-modern .resp-tab-content {
    margin-top: -3px;
    padding: 0;
    border-bottom: none;
    box-shadow: none;
    border-radius: 0;
    border-top: none;
  }
}


/* уведомления */
.bottom .vue-notification.success {
  margin-bottom: 30px;
}
.vue-notification {
  border-radius: 6px;
  border: none !important;
  border: 1px solid rgb(240, 240, 240) !important;
  /* width: max-content !important; */
}
.notification-title {
  font-size: 14px;
  text-align: center;
}
.my-notifications.bottom {
  bottom: 30px !important;
  position: relative;
}

.vue-notification.error {
  background: #ec5353 !important;
}


.admin-page .head {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.admin-page .head .btn {
  margin-top: 0;
}


.foto-gallery {
  padding: 30px;
}
.foto-gallery .item {
  padding: 15px;
}


.single-product .single-product-gallery {
  display: flex;
}
.single-product .single-product-gallery img {
  cursor: pointer;
  object-fit: cover;
}
.single-product .single-product-gallery div {
  border: 1px solid rgb(216, 216, 216);
  padding: 5px;
  border-radius: 5px;
}



table .product-image img {
  object-fit: cover;
}

.single-product .desc {
  display: flex;
  flex-direction: column;
}
.single-product .desc b {
  width: 100%;
  order: 2;
  padding-top: 20px;
}


@media (max-width: 772px) {
  .rd-navbar-brand {
    width: calc(100vw - 77px) !important;
    display: flex !important;
  }
}


@media (min-width: 992px) {
  .single-product .slick-slider {
    margin-bottom: 30px;
  }
}

@media (max-width: 772px) {
  .single-product .responsive-tabs-shop li {
    padding-right: 0;
  }
  .single-product .responsive-tabs-shop .price {
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
  }
  .single-product .carousel-parent img {
    height: auto;
  }
}

.admin-page-single-product .img-item {
  position: relative;
}
.admin-page-single-product .img-item .del {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  top: -17.5px;
  right: -17.5px;
  z-index: 2;
  background: rgb(240, 240, 240);
  cursor: pointer;
}
.admin-page-single-product .img-item .del:before,
.admin-page-single-product .img-item .del:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.admin-page-single-product .img-item .del:before {
  transform: rotate(45deg);
}
.admin-page-single-product .img-item .del:after {
  transform: rotate(-45deg);
}

.rd-navbar-default {
  height: auto !important;
}
.toggle-original-elements {
  display: block;
  left: 0 !important;
  top: 0 !important;
}

@media (max-width: 772px) {
  .table-responsive {
    border: none;
  }
  .table-shopping-cart tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table-shopping-cart tbody tr {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
  }
  .table-shopping-cart tbody tr td {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .table-shopping-cart tbody tr td:last-child {
    border-bottom: none;
  }
  .table-shopping-cart tbody tr td .text-start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table-shopping-cart tbody tr td .inset-left-30,
  .table-shopping-cart tbody tr td .inset-left-20 {
    text-align: center;
    padding-left: 0;
  }
  .table-shopping-cart tbody tr td:first-child {
    padding-left: 12.5px;
  }
  .table-shopping-cart tbody tr td:first-child .stepper {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    
  }
  .table-shopping-cart tbody tr td:first-child .stepper input {
    position: relative;
    order: 2;
    z-index: 10;
    padding: 0;
    height: 20px;
    margin: 0;
  }
  .table-shopping-cart tbody tr td:first-child .stepper .up {
    position: relative;
    order: 3;
    z-index: 10;
    margin: 0;
  }
  .table-shopping-cart tbody tr td:first-child .stepper .down {
    position: relative;
    order: 1;
    z-index: 10;
    margin: 0;
  }
  .table-shopping-cart tbody tr td:last-child {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 359px) {
  .table-shopping-cart tbody tr {
    width: 320px;
  }
}

.section-with-angle {
  background-repeat: no-repeat;
}

.admin-order-single h5 {
  margin-top: 0;
}