<template>
  <nuxt-link 
    class="text-middle btn btn-burnt-sienna btn-shape-circle" 
    :to="`/category/${link}#menu`"
  >
    {{name}}
  </nuxt-link>
</template>

<script>
export default {
  name: "Category",
  props: {
    link: String,
    name: String
  },
};
</script>