<template>
  <div class="thumbnail-menu-modern">
    <figure>
      <img
        class="img-responsive"
        :src="`${$config.apiUrl}${product.main_image.short_url}`"
        alt=""
        width="310"
        height="260"
      />
    </figure>
    <div class="caption">
      <h5>
        <nuxt-link class="link link-default" :to="`/product/${product.id}`">{{product.name}}</nuxt-link>
      </h5>
      <p class="text-italic">
        <span v-html="product.description"></span>
      </p>
      <p class="price">{{product.price}} ₽</p>
      <button 
        class="btn btn-shape-circle btn-burnt-sienna offset-top-15" 
        @click="addProduct"
      >
        Добавить в корзину
      </button>
    </div>
  </div>
</template>

<script>
import { cartApi } from "~/api/cart"

export default {
  props: {
    product: Object
  },
  methods: {
    async addProduct() {
      await cartApi.addProduct(this.product, 1)
      this.getCartInStorage()
    },
    async getCartInStorage() {
      this.cart = await cartApi.getCartInStorage()
      this.$root.$emit('cart-updated', this.cart)
    },
  }
};
</script>