<template>
  <div class="single-product">
    <BreadCrumbs :title="product.name" />

    <section class="section-50 section-sm-100">
      <div class="container">
        <div class="row justify-content-xs-center">
          <div class="col-sm-6 text-lg-start">
            <!-- Slick Carousel-->
            <div
              class="carousel-parent slick-initialized slick-slider"
            >
              <img
                class="img-responsive reveal-inline-block"
                :src="imageUrl"
                alt=""
                width="100%"
                height="448"
              />
            </div>

            <div v-if="product.gallery.length > 0" class="single-product-gallery">
              <div v-for="imageUrl in product.gallery" :key="imageUrl.id" style="margin-right: 15px">
                <img 
                  :src="`${$config.apiUrl}${imageUrl.short_url}`" 
                  :alt="'Image'" 
                  width="84"
                  height="69"
                  @click="nextSlide(imageUrl)"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-5 text-sm-start offset-top-60 offset-sm-top-0">
            <div class="reveal-xs-flex justify-content-xs-center align-content-xs-center justify-content-sm-start">
              <h4 class="font-default">{{product.name}}</h4>
            </div>
            <div class="offset-top-15">
              <p>{{product.category.name}}</p>
            </div>

            <hr style="margin-top: 10px;"/>

            <div class="offset-top-30">
              <div
                class="responsive-tabs responsive-tabs-shop responsive-tabs-horizontal"
                style="display: block; width: 100%;"
              >
                <div class="resp-tabs-container">
                  <span v-html="product.description" class="desc"></span>
                </div>
                <ul class="resp-tabs-list" style="justify-content: flex-start;">
                  <li
                    class="resp-tab-item resp-tab-active"
                    aria-controls="tab_item-0"
                    role="tab"
                    style="width: 100%;"
                  >
                    <span class="price">{{product.price}} ₽</span>
                    
                  </li>
                </ul>
                
              </div>
            </div>

            <div class="offset-top-45">
              <div class="group-sm">
                
                <button 
                  class="text-top btn btn-burnt-sienna btn-shape-circle" 
                  @click="addProduct(product, 1)"
                >
                  <span>Добавить в корзину</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</template>

<script>
import BreadCrumbs from "~/components/layout/default/BreadCrumbs.vue";
import { productApi } from "~/api/products";
import { cartApi } from "~/api/cart";

export default {
  head: {
    title: 'Столовая "Харчо"'
  },
  components: {
    BreadCrumbs,
  },
  async asyncData({ params }) {
    const product = await productApi.getById(params.id);
    return { product };
  },
  data() {
    return {
      imageUrl: null,
      cart: null
    };
  },
  methods: {
    nextSlide(img) {
      this.imageUrl = this.$config.apiUrl + img.short_url
    },
    async getCartInStorage() {
      this.cart = await cartApi.getCartInStorage()
      this.$root.$emit('cart-updated', this.cart)
    },
    async addProduct(obj, count) {
      await cartApi.addProduct(obj, count)
      this.getCartInStorage()
    },
    
  },
  
  mounted() {
    this.imageUrl = this.$config.apiUrl + this.product.main_image.short_url
  }
};
</script>




