<template>
  <main class="page-content">
    <!-- Breadcrumbs & Page title-->
    <BreadCrumbs title="О нас" />

    <section
      class="text-center text-sm-start section-50 section-sm-top-100 section-sm-bottom-100 section-md-bottom-205 section-with-angle bg-black-haze"
    >
      <div class="container">
        <div class="row justify-content-xs-center justify-content-md-end">
          <div class="col-sm-10 col-md-6">
            <h4 class="font-default">Столовая Харчо</h4>
            <p>
              "Столовая 'Харчо' - это воплощение кулинарных традиций в разнообразии блюд. Мы готовим с любовью, создавая великолепные вкусы для каждого гостя. У нас высокое качество продуктов, доступные цены и душевная атмосфера. Добро пожаловать!"
            </p>
            
            <nuxt-link
              class="btn btn-shape-circle btn-burnt-sienna offset-top-40"
              to="/#menu"
              >
              смотреть меню
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>
    <section class="section-50 section-sm-top-90 section-sm-bottom-100">
      <div class="container">
        <h4 class="font-default">Наши контакты</h4>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6" style="display: flex; flex-direction: column;justify-content: center; padding-bottom: 20px;">
            <p><b>Телефон</b>: +7 (900) 270-06-25</p>
            <p><b>Адрес</b>: Г. Геленджик, ул.Тельмана 137</p>
            <h6 class="text-uppercase">Соц. сети</h6>
            <ul class="list-inline list-inline-sizing-1" style="margin-top: 15px;">
              <li>
                <a class="link-silver-light" href="https://wa.me/79002700625"
                  ><span class="icon icon-xs fa-whatsapp"></span
                ></a>
              </li>
              <li>
                <a class="link-silver-light" href="tel:+79002700625"
                  ><span class="icon icon-xs fa-phone"></span
                ></a>
              </li>
              <li>
                <a class="link-silver-light" href="https://instagram.com"
                  ><span class="icon icon-xs fa-instagram"></span
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842.3960680442688!2d38.089999576644395!3d44.56846419275535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f18a4707b326b9%3A0x5dfeec1ee6d16e13!2z0YPQuy4g0KLQtdC70YzQvNCw0L3QsCwgMTM3LCDQk9C10LvQtdC90LTQttC40LosINCa0YDQsNGB0L3QvtC00LDRgNGB0LrQuNC5INC60YDQsNC5LCAzNTM0NjA!5e0!3m2!1sru!2sru!4v1683828652701!5m2!1sru!2sru" 
              width="100%"
              height="350"
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
      </div>
    </section>

  </main>
</template>

<script>
import BreadCrumbs from '~/components/layout/default/BreadCrumbs.vue'
export default {
  head: {
    title: 'Столовая "Харчо"'
  },
  components: {
    BreadCrumbs
  },
}
</script>