<template>
  <main class="page-content">
    <BreadCrumbs title="Корзина" />

    <section class="section-50 section-sm-100" v-if="lengthCart > 0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h4 class="text-start font-default">{{lengthCart}} продукта в корзине</h4> -->
            <br>
            <div class="table-responsive offset-top-10">
              <table class="table table-shopping-cart">
                <tbody>

                  <tr
                    v-for="product in cart.products"
                    :key="product.id"
                  >
                  
                    <td style="width: 1px">
                      <div class="form-group stepper-type-2">
                        <div class="stepper ">
                          <input 
                            class="form-control text-bold stepper-input" 
                            type="number" 
                            data-zeros="true" 
                            :value="product.count" 
                            min="1" 
                            max="20" 
                            readonly=""
                          >
                          <span class="stepper-arrow up" @click="addProduct(product, 1)"></span>
                          <span class="stepper-arrow down" @click="minusProduct(product, 1)"></span>
                        </div>
                      </div>
                    </td>
                    <td style="width: 1px">
                      <div class="inset-left-20">
                        <div class="product-image">
                          <img :src="`${$config.apiUrl}${product.main_image}`"  width="130" height="130" alt="">
                        </div>
                      </div>
                    </td>
                    <td style="min-width: 340px;">
                      <div class="inset-left-30 text-start">
                        <span class="product-brand text-italic">{{product.category}}</span>
                        <div class="h5 text-sbold offset-top-0">
                          <nuxt-link class="link-default" to="">{{product.name}}</nuxt-link>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="inset-left-20">
                        <span class="h5 text-sbold">{{product.price}} ₽ | </span>
                        <span class="h5 text-sbold">{{product.price * product.count}} ₽</span>
                      </div>
                    </td>
                    <td>
                      <div class="inset-left-20">
                        <span class="icon icon-sm mdi mdi-window-close link-gray-lightest" @click="delProduct(product)"></span>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="offset-top-35 text-start">
              <div class="h4 font-default text-bold">
                <small class="inset-right-5 text-gray-light">
                  Итого: 
                </small> 
                {{sumCart}} 
                <small class="inset-right-5 text-gray-light">
                  ₽ублей
                </small> 
              </div>

              <div class="resp-tabs-container">
                <div class="rd-mailform form-register text-center offset-top-20">
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">
                      Ваше имя
                    </label>
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="text"
                      v-model="name"                      
                    />
                    <div class="error" v-if="$v.name.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">
                      Ваш телефон
                    </label>
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="number"
                      v-model="phonenumber"                      
                    />
                    <div class="error" v-if="$v.phonenumber.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">
                      Адрес доставки
                    </label>
                    <input
                      class="form-control form-control-has-validation form-control-last-child"
                      type="text"
                      v-model="shipping_address"                      
                    />
                    <div class="error" v-if="$v.shipping_address.$error" style="color: red;">Поле заполнено неправильно</div>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-outside rd-input-label">
                      Пожелания
                    </label>
                    <textarea
                      class="form-control form-control-has-validation form-control-last-child"
                      v-model="description"                      
                    >
                    </textarea>
                  </div>
                  
                </div>
              </div>

              <button 
                class="btn btn-icon btn-icon-left btn-burnt-sienna btn-shape-circle offset-top-35" 
                @click="submit"
              >
                <span class="icon icon-xs mdi mdi-cart-outline"></span>
                <span>Заказать</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-50 section-sm-100" v-else>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="text-start font-default">Корзина пуста</h4>
          </div>
        </div>
      </div>
    </section>

    <notifications position="center bottom" class="bottom" />
  </main>
</template>

<script>
  import BreadCrumbs from '~/components/layout/default/BreadCrumbs.vue'
  import { required } from 'vuelidate/lib/validators'
  import { cartApi } from "~/api/cart"
  import { ordersApi } from "~/api/orders"

  export default {
    name: "cart",
    head: {
      title: 'Столовая "Харчо"'
    },
    components: {
      BreadCrumbs
    },
    data() {
      return {
        cart: {},
        name: '',
        description: '',
        shipping_address: '',
        phonenumber: '',
      }
    },
    validations: {
      name: {
        required
      },
      phonenumber: {
        required
      },
      shipping_address: {
        required
      },
    }, 
    methods: {
      async getCartInStorage() {
        this.cart = await cartApi.getCartInStorage()
        this.$root.$emit('cart-updated', this.cart)
      },
      async addProduct(obj, count) {
        await cartApi.addProduct(obj, count)
        this.getCartInStorage()
      },
      async minusProduct(obj, count) {
        await cartApi.minusProduct(obj, count)
        this.getCartInStorage()
      },
      async delProduct(obj) {
        await cartApi.delProduct(obj)
        this.getCartInStorage()
      },

      async submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          const outputArray = [];

          this.cart.products.forEach((item) => {
            outputArray.push({
              product_id: item.id,
              count: item.count,
            })
          })

          let data = {
            name: this.name,
            description: this.description,
            shipping_address: this.shipping_address,
            phonenumber: this.phonenumber,
            products: outputArray
          }

          try {
            await ordersApi.saveOrder(data)
            this.$notify({
              title: "Ваша заявка отправлена, в скором времени с вами свяжется наш менеджер",
              type: "success",
              timeout: 4000
            })
            localStorage.clear()
            this.name = ''
            this.description = ''
            this.shipping_address = ''
            this.phonenumber = ''
            this.getCartInStorage()
          } catch (err) {
            console.log(err)
          }
        }
      }
      
    },
    computed: {
      lengthCart() {
        return this.cart.products ? this.cart.products.length : 0
      },
      sumCart() {
        if (this.cart.products) {
          return this.cart.products.reduce((accumulator, current) => {
            return accumulator + current.price * current.count;
          }, 0);
        } else {
          return 0;
        }
      },
    },
    mounted() {
      this.getCartInStorage()
    }
  }
</script>
