<template>
  <div>
    <main class="page-content">
      <!-- Breadcrumbs & Page title-->
      <BreadCrumbs title="Доставка и оплата" />

      <section class="text-start section-50 section-sm-100 bg-gray-lighter">
        <div class="container">
          <div class="row justify-content-xs-center">
            <div class="col-md-8">
              <div class="inset-lg-left-45 inset-lg-right-45">
                <div class="accordeon"
                  v-for="item in data"
                  :key="item"
                  :class="{'active': item.value === true}"
                >
                  <div class="head">
                    <div class="resp-arrow" @click="item.value = !item.value"></div>
                    <div class="title">{{item.name}}</div>
                  </div>
                  <div class="content">
                    {{item.text}}
                  </div>
                </div>
                <!-- <nuxt-link class="privacy-link" to="mailto:#"
                  >privacy@demolink.org</nuxt-link
                > -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import BreadCrumbs from "~/components/layout/default/BreadCrumbs.vue";
export default {
  head: {
    title: 'Столовая "Харчо"'
  },
  components: {
    BreadCrumbs,
  },
  data() {
    return {
      data: [
        {
          name: 'Как оформить заказ на доставку еды из столовой "Харчо"?',
          text: 'Для оформления заказа, пожалуйста, перейдите на наш сайт и выберите блюда, которые хотите заказать. Добавьте их в корзину и заполните форму заявки. После этого наш менеджер свяжется с вами для уточнения деталей заказа.',
          value: false
        },
        {
          name: 'Какие способы оплаты доступны при заказе доставки?',
          text: 'Вы можете оплатить заказ при получении наличными или безналичным расчетом (банковской картой).',
          value: false
        },
        {
          name: 'Какие районы обслуживает ваша служба доставки?',
          text: 'На данный момент наша служба доставки работает на территории города. Уточните район доставки у нашего менеджера при оформлении заказа.',
          value: false
        },
        {
          name: 'Каковы сроки и стоимость доставки?',
          text: ' Стоимость и сроки доставки зависят от района города, в котором вы находитесь. Уточняйте эти детали у нашего менеджера при подтверждении заказа.',
          value: false
        },
        {
          name: ' Есть ли минимальная сумма заказа для бесплатной доставки?',
          text: 'Да, минимальная сумма заказа для бесплатной доставки составляет 1,000 рублей.',
          value: false
        },
        {
          name: 'Могу ли я отслеживать свой заказ?',
          text: 'К сожалению, в данный момент мы не предоставляем возможность отслеживания заказов онлайн. В случае возникновения вопросов по вашему заказу, свяжитесь с нашим менеджером.',
          value: false
        },
        {
          name: 'Что делать, если я хочу изменить или отменить заказ?',
          text: 'Если вы хотите изменить или отменить заказ, пожалуйста, свяжитесь с нашим менеджером как можно скорее. Обратите внимание, что изменение или отмена заказа возможны до того, как заказ был передан на кухню.',
          value: false
        },
        {
          name: 'Могу ли я указать время доставки?',
          text: 'Да, вы можете указать желаемое время доставки при оформлении заказа у менеджера. Однако, пожалуйста, учтите, что фактическое время доставки может незначительно отличаться в зависимости от загруженности курьеров.',
          value: false
        },
      ]
    }
  }
};
</script>