<template>
  <main class="page-content">
    <!-- Swiper variant 3-->
    <section class="bg-gray-darker">
      <div
        class="general-page"
        style="background: url(/images/fon.jpg)"
      >
        <VideoBackground />
        <div class="container">
          <div class="row">
            <div class="col-12 text-center justify-center">
              <h1>Столовая "Харчо"</h1>
              <p class="subtitle">
                Добро пожаловать в столовую "Харчо" — место, где вы можете насладиться разнообразием вкусов. В нашем меню представлены блюда международной, русской и кавказской кухни.
              </p>
              <nuxt-link
                class="btn btn-shape-circle btn-burnt-sienna offset-top-15"
                to="/"
              >
                смотреть меню
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    <section
      class="section-50 section-sm-top-80 section-sm-bottom-100 bg-gray-lighter my-menu"
      id="menu"
    >
      <h3>Наше меню</h3>
      <div class="container">
        <div class="head">
          <CategoryLink
            v-for="category in categories"
            :key="category.id"
            :link="category.id"
            :name="category.name"
          />
        </div>
        <div class="row">
          <div
            class="col-xs-6 col-sm-6 col-md-4 isotope-item"
            v-for="product in products"
            :key="product.id"
          >
            <ProductCard :product="product" />
          </div>
        </div>
      </div>
    </section>

    <section class="section-50 section-sm-130">
      <div class="container">
        <div class="row justify-content-xs-center">
          <div class="col-sm-6 col-md-3">
            <!-- Box icon-->
            <article class="box-icon box-icon-variant-1">
              <div class="icon-wrap">
                <span
                  class="icon icon-lg text-base thin-icon-time icon-xl"
                ></span>
              </div>
              <div class="box-icon-header">
                <h5>Быстрая доставка</h5>
              </div>
              <hr class="divider-xs bg-accent" />
              <p>
                Все, что вы заказываете в "Столовой", будет быстро доставлено к
                вашей двери.
              </p>
            </article>
          </div>
          <div
            class="col-sm-6 col-md-3 offset-top-50 offset-sm-top-0"
          >
            <!-- Box icon-->
            <article class="box-icon box-icon-variant-1">
              <div class="icon-wrap">
                <span
                  class="icon icon-lg text-base restaurant-icon-17 icon-xxl"
                ></span>
              </div>
              <div class="box-icon-header">
                <h5>Свежие продукты</h5>
              </div>
              <hr class="divider-xs bg-accent" />
              <p>
                Мы используем только лучшие ингредиенты, чтобы приготовить для
                вас вкусную и свежую еду.
              </p>
            </article>
          </div>
          <div
            class="col-sm-6 col-md-3 offset-top-50 offset-md-top-0"
          >
            <!-- Box icon-->
            <article class="box-icon box-icon-variant-1">
              <div class="icon-wrap">
                <span
                  class="icon icon-lg text-base restaurant-icon-23 icon-xxl"
                ></span>
              </div>
              <div class="box-icon-header">
                <h5>Опытные повара</h5>
              </div>
              <hr class="divider-xs bg-accent" />
              <p>Наш штат состоит из поваров и поваров с многолетним опытом.</p>
            </article>
          </div>
          <div
            class="col-sm-6 col-md-3 offset-top-50 offset-md-top-0"
          >
            <!-- Box icon-->
            <article class="box-icon box-icon-variant-1">
              <div class="icon-wrap">
                <span
                  class="icon icon-lg text-base restaurant-icon-22 icon-xxl"
                ></span>
              </div>
              <div class="box-icon-header">
                <h5>Разнообразные блюда</h5>
              </div>
              <hr class="divider-xs bg-accent" />
              <p>
                В Наше меню вы найдете широкий выбор блюд, десертов и напитков.
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!--banner-->
    <section class="bg-image-5">
      <section
        class="parallax-container parallax-light"
        data-parallax-img="/images/parallax-03.png"
      >
        <div class="parallax-content">
          <div
            class="container section-80 section-sm-top-140 section-sm-bottom-150 text-center"
          >
            <div class="row justify-content-xs-center">
              <div class="col-sm-10 col-lg-6">
                <h4 class="text-italic divider-custom-small-primary">
                  Бесплатная доставка
                </h4>
                <h2
                  class="text-uppercase text-italic offset-top-10 offset-sm-top-0"
                >
                  Только сегодня
                </h2>
                <div class="offset-top-10">
                  <div
                    class="unit unit-horizontal unit-middle unit-spacing-xs text-center"
                    style="justify-content: center"
                  >
                    <div class="unit-left">
                      <p class="h1 text-accent">от 1000 ₽</p>
                    </div>
                  </div>
                </div>
                <a
                  class="btn btn-burnt-sienna btn-md btn-shape-circle offset-top-15"
                  href="/"
                  >Смотреть меню</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!--section gallery-->
    <section class="foto-gallery">
      <div class="row g-0" data-lightgallery="group">
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/1.jpg"
            ><img
              src="/img/1.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/2.jpg"
            ><img
              src="/img/2.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/3.jpg"
            ><img
              src="/img/3.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/4.jpg"
            ><img
              src="/img/4.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/5.jpg"
            ><img
              src="/img/5.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
        <div class="col-xs-6 col-md-3 item">
          <a
            class="thumbnail-gallery"
            data-lightgallery="item"
            href="/img/6.jpg"
            ><img
              src="/img/6.jpg"
              alt=""
              width="480"
              height="394"
          /></a>
        </div>
      </div>
    </section>

    <section>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842.3960676520546!2d38.090385815744916!3d44.56846420078142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f18a4707b326b9%3A0x5dfeec1ee6d16e13!2z0YPQuy4g0KLQtdC70YzQvNCw0L3QsCwgMTM3LCDQk9C10LvQtdC90LTQttC40LosINCa0YDQsNGB0L3QvtC00LDRgNGB0LrQuNC5INC60YDQsNC5LCAzNTM0NjA!5e0!3m2!1sru!2sru!4v1679436068034!5m2!1sru!2sru"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
    
  </main>
</template>

<script>
import { productApi } from '~/api/products';
import { categoryApi } from '~/api/category';
import ProductCard from "~/components/product/ProductCard.vue";
import CategoryLink from "~/components/product/CategoryLink.vue";
import VideoBackground from '~/components/VideoBackground.vue'

export default {
  name: "IndexPage",
  head: {
    title: 'Столовая "Харчо"'
  },
  components: {
    ProductCard,
    CategoryLink,
    VideoBackground
  },
  async asyncData() {
    const products = await productApi.getAll()
    const categories = await categoryApi.getAll()
    
    return { products, categories }
  },
}
</script>
