<template>
  <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
    <div class="container">
      <div class="row g-0">
        <div class="col-xs-12 col-xl-preffix-1 col-xl-11">
          <p class="h3 text-white">{{title}}</p>
          <ul class="breadcrumbs-custom offset-top-10">
            <li><nuxt-link to="/">Главная</nuxt-link></li>
            <li><nuxt-link to="#">{{title}}</nuxt-link></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  export default {
    props: {
      title: String
    },
    data() {
      return {
        
      }
    },
  }
</script>