<template>
  <footer class="page-foot text-sm-start">
    <section class="bg-gray-darker section-top-55 section-bottom-60">
      <div class="container">
        <div class="row border-start-cell">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="brand brand-inverse" href="/">
              <svg
                x="0px"
                y="0px"
                style="width: 167px;"
                viewbox="0 0 157 41"
              >
                <text
                  transform="matrix(1 0 0 1 1.144409e-004 32)"
                  fill="#2C2D2F"
                  font-family="Grand Hotel"
                  font-size="45.22"
                >
                  Харчо
                </text>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  fill="#EB5453"
                  d="M43.743,2.954c2.606,0,4.719,2.091,4.719,4.672  c0,2.58-2.113,4.672-4.719,4.672c-2.606,0-4.719-2.091-4.719-4.672C39.024,5.045,41.137,2.954,43.743,2.954z"
                ></path>
              </svg>
            </a>
            <ul class="list-unstyled contact-info offset-top-5">
              <li>
                <div class="unit unit-horizontal unit-top unit-spacing-xxs">
                  <div class="unit-left">
                    <span class="text-white">Адрес:</span>
                  </div>
                  <div class="unit-body text-start text-gray-light">
                    <p>Г. Геленджик, ул.Тельмана 137</p>
                  </div>
                </div>
              </li>
              <!-- <li>
                <div class="unit unit-horizontal unit-top unit-spacing-xxs">
                  <div class="unit-left">
                    <span class="text-white">Email:</span>
                  </div>
                  <div class="unit-body">
                    <a class="link-gray-light" href="mailto:#"
                      >example@gmail.com</a
                    >
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
          

          <div class="col-sm-6 col-md-4 offset-top-50 offset-sm-top-0">
            <h4 class="text-uppercase">Контакты</h4>
            <ul class="list-tags offset-top-15">
              <li class="text-gray-light">
                <a class="link-gray-light" href="tel:89002700625 ">7 (900) 270-06-25</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-4 offset-top-50 offset-sm-top-0">
            <h4 class="text-uppercase">Соц. сети</h4>
            <ul class="list-inline list-inline-sizing-1" style="margin-top: 15px;">
              <li>
                <a class="link-silver-light" href="https://wa.me/79002700625"
                  ><span class="icon icon-xs fa-whatsapp"></span
                ></a>
              </li>
              <li>
                <a class="link-silver-light" href="tel:+79002700625"
                  ><span class="icon icon-xs fa-phone"></span
                ></a>
              </li>
              <li>
                <a class="link-silver-light" href="https://instagram.com"
                  ><span class="icon icon-xs fa-instagram"></span
                ></a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </section>
    
    <section class="section-20 bg-white">
      <div class="container">
        <div class="row justify-content-xs-center justify-content-center">
          <div class="col-sm-12 offset-top-26 text-md-start">
            <p class="copyright" style="text-align: center;">
              Столовая &nbsp;&#169;&nbsp;<span class="copyright-year"></span
              >&nbsp;<br class="veil-sm" /><a href="privacy.html"
                >Политика конфиденциальности</a
              >
              <!-- {%FOOTER_LINK}-->
            </p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
export default {
  name: 'LayoutDefaultFooter',
  
  setup() {
    
  },
}
</script>