<template>
  <header class="page-head">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-minimal">
      <nav
        class="rd-navbar"
        data-layout="rd-navbar-fixed"
        data-sm-layout="rd-navbar-fixed"
        data-md-device-layout="rd-navbar-fixed"
        data-lg-layout="rd-navbar-static"
        data-lg-device-layout="rd-navbar-static"
        data-stick-up-clone="false"
        data-md-stick-up-offset="100px"
        data-lg-stick-up-offset="100px"
      >
        <div class="container container-fluid">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button
                class="rd-navbar-toggle"
                data-rd-navbar-toggle=".rd-navbar-nav-wrap"
              >
                <span></span>
              </button>
              <!-- RD Navbar Brand-->
              <div
                class="rd-navbar-brand brand"
                style="
                  display: flex;
                  align-items: center;
                  width: calc(100% - 74px);
                "
              >
                <nuxt-link class="brand-logo" to="/">
                  <svg
                    x="0px"
                    y="0px"
                    width="157px"
                    height="41px"
                    viewbox="0 0 157 41"
                  >
                    <text
                      transform="matrix(1 0 0 1 1.144409e-004 32)"
                      fill="#2C2D2F"
                      font-family="Grand Hotel"
                      font-size="45.22"
                    >
                      Харчо
                    </text>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      fill="#EB5453"
                      d="M43.743,2.954c2.606,0,4.719,2.091,4.719,4.672  c0,2.58-2.113,4.672-4.719,4.672c-2.606,0-4.719-2.091-4.719-4.672C39.024,5.045,41.137,2.954,43.743,2.954z"
                    ></path>
                  </svg>
                </nuxt-link>
                <ul
                  class="list-inline list-inline-sizing-1"
                  style="margin-left: auto; display: flex; align-items: center"
                >
                  <li>
                    <nuxt-link
                      class="unit unit-horizontal unit-middle unit-spacing-xxs link-gray-light"
                      to="/cart"
                      style="position: relative;top: -3px;"
                    >
                      <div class="unit-left">
                        <span
                          class="icon icon-md icon-primary thin-icon-cart"
                        ></span>
                      </div>
                      <div class="unit-body">
                        <span class="label-inline big">{{cartCount}}</span>
                      </div>
                    </nuxt-link>
                  </li>
                  <li>
                    <a class="link-silver-light" href="https://wa.me/79002700625"
                      ><span class="icon icon-xs fa-whatsapp"></span
                    ></a>
                  </li>
                  <li>
                    <a class="link-silver-light" href="tel:+79002700625"
                      ><span class="icon icon-xs fa-phone"></span
                    ></a>
                  </li>
                  <li>
                    <a class="link-silver-light" href="https://instagram.ru"
                      ><span class="icon icon-xs fa-instagram"></span
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- RD Navbar Nav-->
            <div class="rd-navbar-nav-wrap">
              <!-- RD Navbar Nav-->
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li>
                  <nuxt-link class="navbar-icon restaurant-icon-19" to="/#menu"
                    >Меню</nuxt-link
                  >
                  <!-- RD Navbar Dropdown-->
                  <!-- <ul class="rd-navbar-dropdown menu-img-wrap">
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-01.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>Pizzas</span></nuxt-link
                      >
                    </li>
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-02.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>Burgers</span></nuxt-link
                      >
                    </li>
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-03.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>Drinks</span></nuxt-link
                      >
                    </li>
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-04.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>Tosts</span></nuxt-link
                      >
                    </li>
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-05.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>Salads</span></nuxt-link
                      >
                    </li>
                    <li class="menu-img">
                      <nuxt-link to="menu-single.html"
                        ><img
                          src="/images/menu-food-06.png"
                          alt=""
                          width="88"
                          height="60"
                        /><span>desserts</span></nuxt-link
                      >
                    </li>
                  </ul> -->
                </li>
                <li>
                  <nuxt-link class="navbar-icon thin-icon-tag" to="/about"
                    >О нас</nuxt-link
                  >
                  <!-- <ul class="rd-navbar-dropdown">
                    <li><nuxt-link to="blog-classic.html">Classic Blog</nuxt-link></li>
                    <li><nuxt-link to="blog-grid.html">Grid Blog</nuxt-link></li>
                    <li><nuxt-link to="blog-masonry.html">Masonry Blog</nuxt-link></li>
                    <li><nuxt-link to="blog-modern.html">Modern Blog</nuxt-link></li>
                    <li><nuxt-link to="blog-post.html">Blog Post</nuxt-link></li>
                  </ul> -->
                </li>
                <li>
                  <nuxt-link
                    class="navbar-icon thin-icon-map-marker"
                    to="/delivery"
                    >Доставка и оплата</nuxt-link
                  >
                </li>
              </ul>

              <!-- RD Navbar Shop-->
              <ul class="rd-navbar-shop list-inline">
                <li>
                  <a
                    class="unit unit-horizontal unit-middle unit-spacing-xxs link-default"
                    href="tel:+79002700625"
                  >
                    <div class="unit-left">
                      <span
                        class="icon icon-md icon-primary thin-icon-phone-call text-middle"
                      ></span>
                    </div>
                    <div class="unit-body">
                      <div class="contact-info">
                        <span class="text-bold big">+7 (900) 270-06-25</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <nuxt-link
                    class="unit unit-horizontal unit-middle unit-spacing-xxs link-gray-light"
                    to="/cart"
                  >
                    <div class="unit-left">
                      <span
                        class="icon icon-md icon-primary thin-icon-cart"
                      ></span>
                    </div>
                    <div class="unit-body">
                      <span class="label-inline big">{{cartCount}}</span>
                    </div>
                  </nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
import { cartApi } from "~/api/cart"
export default {
  data() {
    return {
      cart: null
    }
  },
  computed: {
    cartCount() {
      if (this.cart && this.cart.products) {
        return this.cart.products.reduce(function(total, product) {
          return total + product.count;
        }, 0);
      } else {
        return 0;
      }
    },
  },
  methods: {
    async getCartInStorage() {
      this.cart = await cartApi.getCartInStorage()
    },
  },
  created() {
  this.$root.$on('cart-updated', (cart) => {
    console.log('cart-updated event received', cart);
    this.cart = cart;
  });
},
  mounted() {
    this.getCartInStorage()
  }
};
</script>