<template>
  <div class="video-background">
    <div class="bcg-full"></div>
    <video autoplay muted loop>
       <source src="/video/video.mp4" type="video/mp4">
      <source src="/video/video.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
</template>

<script>
export default {
  name: 'VideoBackground',
}
</script>

