<template>
  <div>
    <div class="page text-center">

      <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-default" style="height: 937px">
          <nav
            class="rd-navbar rd-navbar-original rd-navbar-sidebar"
            data-layout="rd-navbar-fixed"
            data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed"
            data-md-device-layout="rd-navbar-fixed"
            data-lg-layout="rd-navbar-fixed"
            data-lg-device-layout="rd-navbar-fixed"
            data-xl-layout="rd-navbar-sidebar"
            data-xl-device-layout="rd-navbar-sidebar"
            data-stick-up-clone="false"
            data-md-stick-up-offset="100px"
            data-lg-stick-up-offset="100px"
            data-auto-height="true"
          >
            <div class="container container-fluid">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  
                  
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap toggle-original-elements active">
                  
                  <h6 style="font-weight: 500;">Админ-панель</h6>

                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li>
                      <nuxt-link to="/admin/products">
                        Меню
                      </nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="/admin/categories">
                        Категории
                      </nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="/admin/orders">
                        Заказы
                      </nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="/admin/users">
                        Пользователи
                      </nuxt-link>
                    </li>
                    
                    <li style="padding-top: 15px">
                      <button @click="logout"> 
                        Выход
                      </button>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <main class="page-content content-admin">
        <section style="min-height: 100vh; padding: 25px;">
          <Nuxt />
        </section>
      </main>

    </div>
  </div>
</template>

<script>
  import { authApi } from '~/api/auth';

  export default {
    components: {},
    methods: {
      async logout() {
        try {
          await authApi.doLogout()
        } catch(err) {
          console.log(err)
          this.$notify({
            title: "email или пароль неправильные",
            type: "error",
          })
        }
      }
    }
  }
</script>