<template>
  <div>
    <div class="page text-center">
      <Header />
      <main class="page-content">
        <Nuxt />
      </main>
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from '~/components/layout/default/DefaultHeader.vue'
import Footer from '~/components/layout/default/DefaultFooter.vue'

export default {
  components: {
    Header,
    Footer
  },
}
</script>