<template>

  <section style="padding-top: 10vh;padding-bottom: 15vh; background-color: rgba(0,0,0,0.2);">
    <div class="container">
      <div class="row g-0 justify-content-xs-center">
        <div class="col-sm-10 col-lg-6">
          <h4 class="font-default">Извините, такой страницы не существует</h4>
          <hr class="hr divider-sm bg-primary-lighter" />
          <p class="text-extra-large fw-light">404</p>
          <p class="offset-top-40">
            Вы можете сделать следующие действия
          </p> 
          <div class="group-lg offset-top-30">
            <a
              class="btn btn-primary btn-shape-circle btn-icon-left btn-icon"
              href="/"
              ><span
                class="icon text-middle mdi mdi-arrow-left text-black"
              ></span
              ><span class="text-black">Вернуться домой</span></a
            ><a
              class="btn btn-white-outline btn-shape-circle btn-icon-left btn-icon"
              href="contacts.html"
              ><span class="icon text-middle mdi mdi-email-outline"></span
              ><span>Контакты</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
export default {
  name: 'Error',
  layout: 'error-layout'
}
</script>