<template>
  <div>
    <h5>Привет Администратор, выбери раздел и начни работать</h5>
  </div>
</template>

<script>

export default {
  layout: 'admin',
  components: {},
  meta: {
    role: ['admin'],
  },
}
</script>