<template>
  <div class="admin-page">
    <div class="head">
      <h5>Изменение {{category.name}} </h5>
      <nuxt-link to="/admin/categories/create" class="btn btn-burnt-sienna btn-shape-circle">Вернуться назад</nuxt-link>
    </div>
    <div class="rd-mailform">
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Название
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          v-model="category.name"                      
        />
        <div class="error" v-if="$v.category.name.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <br>
      <button class="btn btn-burnt-sienna btn-shape-circle" @click="submot">Сохранить</button>
    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { categoryApi } from "~/api/category";
import { required } from "vuelidate/lib/validators";

export default {
  layout: "admin",
  meta: {
    role: ["admin"],
  },
  validations: {
    category: {
      name: {
        required,
      },
    }
  },
  async asyncData({params}) {
    const category = await categoryApi.getCatById(params.id)
    return { category }
  },
  methods: {
    async submot() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        try {
          await categoryApi.updateCategory(this.category.name, this.category.id)
          this.$notify({
            title: "Категория переименована",
            type: "success",
          })
          setTimeout(() => {
            window.location.href = '/admin/categories'
          }, 2000);
        } catch(err) {
          console.log(err)
          this.$notify({
            title: "Произошла ошибка, повторите позже",
            type: "error",
          })
        }
      }
    }

  }
};
</script>