<template>
  <div class="admin-page">
    <div class="head">
      <h5>Добавление новой категории</h5>
      <nuxt-link to="/admin/categories/create" class="btn btn-burnt-sienna btn-shape-circle">Вернуться назад</nuxt-link>
    </div>
    <div class="rd-mailform">
      <div class="form-group">
        <label class="form-label form-label-outside rd-input-label">
          Название
        </label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          v-model="name"                      
        />
        <div class="error" v-if="$v.name.$error" style="color: red;">Поле заполнено неправильно</div>
      </div>

      <br>
      <button class="btn btn-burnt-sienna btn-shape-circle" @click="submot">Сохранить</button>
    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { categoryApi } from "~/api/category";
import { required } from "vuelidate/lib/validators";

export default {
  layout: "admin",
  meta: {
    role: ["admin"],
  },
  validations: {
    name: {
      required,
    },
  },
  data() {
    return {
      name: "",
    };
  },
  methods: {
    async submot() {
      this.$v.$touch()
      if (!this.$v.$invalid) {

        try {
          await categoryApi.createCategory(this.name)
          this.$notify({
            title: "Категория создана",
            type: "success",
          })
          setTimeout(() => {
            window.location.href = '/admin/categories'
          }, 1500);
        } catch(err) {
          console.log(err)
          this.$notify({
            title: "Произошла ошибка, повторите позже",
            type: "error",
          })
        }
      
      }
    }
  }
};
</script>