<template>
  <div class="admin-page admin-categories">
    <div class="head">
      <h5>Категории</h5>
      <nuxt-link to="/admin/categories/create" class="btn btn-burnt-sienna btn-shape-circle">Добавить</nuxt-link>
    </div>
    <div class="table-responsive">
      <table class="table table-accent table-striped">
        <thead>
          <tr>
            <th>Название</th>
            <th>Управление</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="categy in categories" :key="categy.id">
            <td>
              {{categy.name}}
            </td>
            <td>
              <button class="btn-null" @click="delCategory(categy.id)">
                <span class="icon icon-sm icon-primary fa fa-trash"></span>
              </button>
              <nuxt-link :to="`/admin/categories/${categy.id}`" style="margin-left: 15px;">
                <span class="icon icon-sm icon-primary fa fa-pencil"></span>
              </nuxt-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <notifications position="center bottom" class="bottom" /> 
  </div>
</template>

<script>
import { categoryApi } from '~/api/category';

export default {
  layout: "admin",
  meta: {
    role: ['admin'],
  },
  components: {},
  async asyncData() {
    const categories = await categoryApi.getAll()
    return { categories }
  },
  methods: {
    async delCategory(id) {
      try {
        await categoryApi.delCategory(id)
        this.categories = this.categories.filter((item) => item.id !== id)
        this.$notify({
          title: "Категория удалена",
          type: "success",
        })
      } catch(err) {
        console.log(err)
        this.$notify({
          title: "Произошла ошибка, повторите позже",
          type: "error",
        })
      }
    }
  }
}
</script>